body {
    background-color: #684b4b;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    color: #003366;
    font-size: 36px;
  }
  
  button {
    background-color: #003366;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }